<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Leon Gaban | MEAN stack developer">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="author" href="Leon Gaban">
        <title>Leon Gaban | MEAN stack developer</title>

		<meta property="og:image" content="images/leon_gaban.png"/>
		<meta property="og:title" content="Leon Gaban | MEAN stack developer"/>
		<meta property="og:site_name" content="Leon Gaban's Portfolio"/>
		<meta property="og:type" content="portfolio"/>

	    <link rel="shortcut icon" href="http://leongaban.com/favicon.ico">
	    <link rel="apple-touch-icon" href="http://leongaban.com/apple-touch-icon.png">

        <link rel="stylesheet" href="css/leongaban.css">
    </head>
    <body>
        
		home, portfolio, blog, contact

        <!--<script src="components/home/leongaban.js"></script>-->
        <script src="components/app-leongaban.js"></script>

        <!-- Google analytics -->
	    <script type="text/javascript">
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-27583223-1', 'auto');
			ga('send', 'pageview');
		</script>
    </body>
</html>